doctype html
html
  head
    title=title
    link(href='game.css', rel='stylesheet')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.min.js")
  body
    div(id="content")
    script(src=script)
